@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* RESETS */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input,
select,
button {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: none;
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    scroll-behavior: smooth;
}
/* VARIABLES */
:root {
    /* COLORS */
    --header-color: #ebeae7;
    --light-color: #ebeae7;
    --dark-color: #171718;
    --bg-btn: #037dc9;
    --bg-products: #171718;
    --bg-items: #2a2a2a;
    /* FONT FAMILY */
    --ff: "Poppins";
}
/* UTILTY CLASS */
.hidden {
    display: none;
}
.border-radius {
    border-radius: 0.6rem;
}
.btn {
    font-weight: 500;
    color: var(--dark-color);
    background-color: var(--light-color);
    padding: 0.3rem 1.5rem;
}
.margin-auto {
    margin: auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.justifyC-center {
    justify-content: center;
}
.alignI-center {
    align-items: center;
}
.cursorPointer {
    cursor: pointer;
}
/* BODY */
body {
    font-family: var(--ff);
}
/* HEADER */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: var(--header-color);
    padding-block: 1rem;
}
.header .logo {
    max-width: 170px;
}
/* HEROSECTION */
.heroimg-container {
    max-width: 100%;
    padding-block: 180px;
    background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3)
        ),
        url(assets/heroimg768.png);
    background-position: center;
    background-size: contain;
}

.heroimg-content {
    color: var(--light-color);
    flex-direction: column;
}
.h1 {
    padding-bottom: 1rem;
    text-align: center;
    font-size: clamp(2.1rem, 6dvw, 3rem);
}

/* PRODUCTS */
.products-container {
    color: var(--light-color);
    min-height: 80vh;
    background-color: var(--bg-products);
    padding-block: 6rem;
}
.h2-container {
    position: relative;
}
.products-h2 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 5rem;
}
.products-h2::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: var(--light-color);
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}
.products {
    padding: 3rem 1rem;
    flex-direction: column;
    gap: 0.5rem;
}
.product {
    background: var(--bg-items);
    padding: 0.5rem;
}
.product-description-container {
    justify-content: space-between;
}
.product-description {
    font-size: 0.9rem;
}
/* CATEGORIES-SEARCH */

.search-container {
    margin-bottom: 2rem;
    gap: 0.8rem;
}
.search-container .send-search {
    padding: 0.2rem 1rem;
}
.searchE {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 3px 4px;
    width: 95%;
}
.searchE::placeholder {
    font-size: 0.9rem;
}
.searchE:focus {
    outline: 1px solid #ebeae7;
    outline-offset: 2px;
}
.categories-dropdown {
    color: #000;
    background-color: var(--light-color);
    overflow: hidden;
    position: relative;
    flex-direction: column;
    padding: 3px 4px;
    width: 95%;
}
.selected-container {
    justify-content: space-between;
}
.dropdown-icon-open {
    transform: rotate(-90deg);
}
.categories-container {
    position: absolute;
    z-index: -1;
}
.categories-container-open {
    position: relative;
    z-index: 1;
}
.categorie-option {
    border-bottom: 1px solid #ccc;
}
.categorie-option:last-child {
    border: none;
}
.categorie-option:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}
/* LOADMORE */
.loadMore {
    font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
    .loadMore:hover,
    .heroimg-btn:hover,
    .send-search:hover {
        background: #ebeae775;
    }
    .categories-dropdown {
        width: 300px;
    }
    .search-container {
        flex-direction: column;
    }
    .searchE {
        width: 350px;
    }
    .send-search {
        width: fit-content;
    }
}

/* FOOTER */
.footer {
    padding-block: 3rem 1rem;
}
.redes {
    justify-content: space-evenly;
}
.footer .red-link {
    gap: 5px;
    font-size: 0.75rem;
}
